/* Mobile & tablet */
@media (max-width: 1023px) {

	.hide-on-mobile-tablet {
		display: none;
	}

	.header-with-search {
		padding: 0;
	}

	.header {
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		z-index: 10;
	}

	.app__container {
		margin-top: calc(var(--header-height) + var(--header-sort-bar-height));
		padding-top: 12px;
	}

	.header__cart {
		width: 80px;
		text-align: right;
	}

	.header__cart-list {
		position: fixed;
		top: var(--header-height);
		right: 0;
		width: 100%;
	}

	.header__cart-list::before {
		top: -24px;
		right: 1%;
		border: hidden;
		width: 24%;
		height: 40px;
	}

	.header__cart-item {
		padding: 8px calc((100% - 644px) / 2);
	}

	.header__cart-item-view {
		margin-right: calc((100% - 644px) / 2);
	}

	.header__sort-bar {
		display: block;
	}

	.mobile-category {
		display: block;
	}
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
	:root {
		--header-height : 68px;
		--navbar-height : 0px;
	}

	.hide-on-tablet {
		display: none;
	}

	.header__logo {
		width: 140px;
	}

	.header__logo-img {
		width: 100px;
	}

	.category {
		margin-top: 10px;
	}
}

/* Mobile */
@media (max-width: 739px) {
	:root {
		--header-height : 54px;
		--navbar-height : 0px;
	}

	.hide-on-mobile {
		display: none;
	}

	.header__logo-img {
		width: 120px;
	}

	.header-with-search {
		justify-content: space-between;
		padding: 0 8px;
	}

	.header__mobile-search {
		display: block;
	}

	.header__search-checkbox:checked ~ .header__search {
		display: block;
	}

	.header__logo {
		width: unset;
	}

	.header__cart {
		width: unset;
	}

	.header__cart-item {
		padding: 8px 10px;
	}

	.header__cart-item-view {
		margin-right: 10px;
	}

	.header__search {
		display: none;
		position: fixed;
		top: var(--header-height);
		left: 0;
		right: 0;
		z-index: 1;
		height: var(--header-sort-bar-height);
		box-shadow: 0 1px 5px rgba(0, 0, 0, .1);
		animation: upToTop linear .3s;
	}

	.header__search-form {
		height: 100%;
	}

	.header__search-history {
		width: 100vw;
	}

	.header__search-history-link {
		padding: 10px 12px;
	}

	.header__sort-change-price {
		width: 100vw;
		left: unset;
	}

	.home-product__pagination {
		justify-content: space-around;
	}

	.pagination-item {
		margin: 0;
	}

	.footer__content {
		padding: 0 16px;
	}

	.footer__heading {
		text-align: center;
	}

	.footer-link {
		display: block;
		text-align: center;
	}

	.footer__download {
		justify-content: center;
	}

	.footer__copyright {
		padding: 22px 0;
	}
}

@media (min-width: 281px) and (max-width: 320px) {
	.pagination-link,
	.paination-link-icon {
		min-width: 36px;
	}

	.header__cart-item-name,
	.header__cart-item-description {
		max-width: 120px;
	}
}

@media (min-width: 321px) and (max-width: 375px) {
	.header__cart-item-name,
	.header__cart-item-description {
		max-width: 180px;
	}
}

@media (max-width: 280px) {
	.header__cart-item-name,
	.header__cart-item-description {
		max-width: 100px;
	}
}